<nav class="header">
    <a href="/" class="logo">IES Jándula</a>

    <ul class="nav-list">
        <li><a href="/">El Centro</a></li>
        <li><a href="/noticias">Departamentos</a></li>
        <li><a href="/eventos">Erasmus+</a></li>
        <li><a href="/departamentos">Noticias</a></li>
        <li><a href="/profesorado">Formación</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
