---
import NcEquipoDirectivo from './NcEquipoDirectivo.astro';
import NcHorarios from './NcHorarios.astro';
import NcConsejoEscolar from './NcConsejoEscolar.astro';
import NcDepartamentos from './NcDepartamentos.astro';
---

<section id="institucional" class="py-12 bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <NcEquipoDirectivo />
      <NcHorarios />
      <NcConsejoEscolar />
      <NcDepartamentos />
    </div>
  </div>
</section>
