VITE_API_URL=http://localhost:3001
VITE_FIREBASE_API_KEY=tu_api_key
VITE_FIREBASE_AUTH_DOMAIN=auth.iesjandula.es
VITE_FIREBASE_PROJECT_ID=guardias-ies-jandula
VITE_FIREBASE_STORAGE_BUCKET=guardias-ies-jandula.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=575440996436
VITE_FIREBASE_APP_ID=1:575440996436:web:TU_APP_ID
