---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>IES Jándula</title>
</head>

<body>
<Header />

<main>
    <slot />
</main>

<Footer />
</body>
</html>
